/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 0px;
  margin: 3px auto;
  background-color: #222222;
}

hr {
  border: 0.5px dashed #999999;
}

.page {
  width: 450px;
}

.top_view {
  float: left;
  width: 100%;
  z-index: 2;
  color: #999999;
  margin-bottom: 5px;
}

.top_view .left {
  float: left;
  font-size: 14px;
  z-index: 3;
}

.top_view .button {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #cccccc;
}

.top_view .right {
  float: right;
  font-size: 14px;
  z-index: 3;
}

.top_view .pick {
  margin-left: 5px;
  font-size: 20px;
}